.card a:hover{
    color: darkgray;
}

.cardTitle{    
    color: black;
    text-align: center;
}

.cardBody{
    text-align: center;
}

.cardBody:hover{
    text-align: center;
}

.glyphicon {
    font-size: 50px;
    text-align: center;
}